#runQueryButton {
	position: absolute;
	top: 6px;
	right: 130px;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

.runQueryButton {
	background-color: #007acc;
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

.runQueryButton:disabled {
	background-color: #d3d3d3;
	color: #808080;
	cursor: not-allowed;
}

#cancelBigQueryJobButton {
	position: absolute;
	top: 6px;
	right: 10px;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

.cancelBigQueryJobButton {
	background-color: #b8860b;
	color: white;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

.cancelBigQueryJobButton:disabled {
	background-color: #d3d3d3;
	color: #808080;
	cursor: not-allowed;
}

.beta-button-container {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.beta-button {
	background-color: #b8860b;
	position: absolute;
	color: white;
	top: 6px;
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 50px;
	/* Rounded corners */
	cursor: not-allowed;
	/* Disabled state */
}

#runQueryButton {
	position: absolute;
	top: 6px;
	right: 130px;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

.top-left {
	position: absolute;
	top: 6px;
	left: 0;
	margin: 0;
	padding: 5px 10px;
}

#bigqueryResults {
	margin-top: 20px;
}

#queryLimit {
	position: absolute;
	top: 6px;
	right: 200px;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}


/* Increase space between line numbers and code */
.hljs-ln-numbers {
	padding-right: 15px !important;
	text-align: right;
	border-right: 1px solid #ccc;
}

/* Add left padding to the code */
.hljs-ln-code {
	padding-left: 15px !important;
}

.topnav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topnav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 4px 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.topnav a.active {
  background-color: #007acc;
  color: white;
}

.error-message-container {
	color: #d32f2f;
	font-weight: 500;
	background-color: #ffebee;
	border-left: 4px solid #d32f2f;
	border-radius: 3px;
	padding: 3px 5px;
	margin: 4px 0;
	font-size: 13px;
	line-height: 1.3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	transition: all 0.2s ease;
}

.error-message-container::before {
	content: '⚠️';
	margin-right: 8px;
	font-size: 14px;
}

.no-errors-container {
	color: #02131c;
	font-weight: 500;
	background-color: #bcc9d6;
	border-left: 4px solid #007acc;
	border-radius: 3px;
	padding: 3px 5px;
	margin: 4px 0;
	font-size: 13px;
	line-height: 1.3;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	transition: all 0.2s ease;
}

.no-errors-container::before {
	content: '️✅';
	margin-right: 8px;
	font-size: 14px;
}

.button-container {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	width: 30%;
	padding-top: 5px;
	padding-bottom: 10px;
}

.button-container button {
	flex: 0 1 auto;
}

.select2-results__option {
	color: black;
}

.select2-results__options {
	max-height: 400px !important;
}


.container {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	min-height: 100vh;
}

.navbar {
	width: 420px;
	position: sticky;
	top: 0;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: whitesmoke;
}

.navbar-content {
	padding: 10px;
	width: 420px;
}

.toggle-btn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: whitesmoke;
	border: none;
	padding: 10px 15px;
}

.collapsed {
	width: 50px;
}

.collapsed .navbar-content {
	display: none;
}

.content {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

#tree {
	flex-grow: 1;
	width: 100%;
	min-height: 300px;
}

.button-container, form {
	margin-bottom: 20px;
}


.checkbox {
	display: none; /* Hide the default checkbox */
}

.checkbox-container {
	position: absolute;
	top: 5px;
	right: 325px;
	display: flex;
	align-items: center;
	cursor: pointer;
  }


.custom-checkbox {
	width: 20px;
	height: 20px;
	border: 2px solid #007BFF;
	border-radius: 4px;
	position: relative;
	margin-right: 10px;
}

.checkbox:checked + .custom-checkbox {
	background-color: #007BFF; /* Change background when checked */
	border-color: #0056b3; /* Darker border when checked */
}

.checkbox:checked + .custom-checkbox::after {
	content: '';
	position: absolute;
	left: 5px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white; /* Checkmark color */
	border-width: 0 2px 2px 0; /* Create checkmark shape */
	transform: rotate(45deg);
}

.dependency-container {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.dependency-header {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 10px;
	background-color: #bcc9d6;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dependency-header:hover {
	background-color: #bcc9d6;
}

.dependency-title {
    margin-left: 15px;
	font-size: 13px;
    color: #333;
}

.arrow-toggle {
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-toggle svg {
    fill: #555;
    transition: fill 0.3s ease;
}

.dependency-header:hover .arrow-toggle svg {
    fill: #333;
}

.arrow-toggle.open {
    transform: rotate(90deg);
}

.dependency-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

.dependency-list.open {
    max-height: 1000px; /* Adjust this value based on your expected content size */
    transition: max-height 0.2s ease-in;
}

#depsDiv ul, #depsDiv ol {
  padding-left: 20px;
  list-style-type: decimal;
}

#depsDiv li {
  margin-bottom: 10px; /* Adjust this value to increase or decrease the gap */
}

/* Remove margin from the last item to avoid extra space at the bottom */
#depsDiv li:last-child {
  margin-bottom: 0;
}