html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

.select2-results__option {
	color: black;
}

.select2-results__options {
    max-height: 400px !important;
}

:root {
    --svg-legends-height: 550px;
}

/*starting position of the dependancy tree graph from the top
 current hardcoded to be more than the height of #svg-legends #*/
.content {
	margin-top: calc(var(--svg-legends-height) + 5px);
}

.navbar {
	position: fixed;
	right: 0;
	top: 0;
	height:  var(--svg-legends-height);
	background-color:whitesmoke;
	overflow-x: hidden;
	/* transition: 0.1s; */
  }
  
  .navbar-content {
	padding: 20px;
	width: 450px;
  }
  
  .toggle-btn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: whitesmoke;
	border: none;
	padding: 10px 15px;
  }
  
  .collapsed {
	width: 50px;
  }
  
  .collapsed .navbar-content {
	display: none;
  }
