.vscode/**
.vscode-test/**
src/**
packages/**
.gitignore
.yarnrc
vsc-extension-quickstart.md

**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.versionrc
.markdownlint.json

FAQ.md
webviews/**
.github/**
media/images/cli_scope.png
media/images/dataform_tools_run_and_debug.png
media/images/disable_save_on_compile.png
media/images/preferred_autocompletion.png
tailwind.config.js
out/test*/**
out/webviews/**


node_modules/**
out/**
src/**
esbuild.js
tsconfig.json
node_modules/pretest/**
node_modules/@babel/**
node_modules/babel-plugin-macros/**
node_modules/undici-types/**
node_modules/@types/**
node_modules/@emotion*/**
node_modules/concurrently*/**
website/**

user_config.json